body {
    background-color: #f5f1e6;
    /* soft beige */
    font-family: "Poppins", sans-serif;
    text-align: center;
    overflow: hidden;
}

.fade-in {
    opacity: 0;
    animation: fadeInUp 1.5s ease forwards;
}

.fade-in-delay {
    opacity: 0;
    animation: fadeInUp 1.5s ease 1s forwards;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

nav {
    margin-top: 50px;
}

/*button {
    margin: 8px;
    padding: 10px 18px;
    background-color: transparent;
    border: 2px solid #222;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background-color: #222;
    color: #fff;
    transform: translateY(-2px);
}

.hidden {
  display: none;
}
